<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Semantic UI -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		   	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	 		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>

		<!-- d3 and timeseries -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
		<script src="https://rawgit.com/mcaule/d3-timeseries/master/src/d3_timeseries.js"></script>
		<link rel="stylesheet" type="text/css" href="https://rawgit.com/mcaule/d3-timeseries/master/src/d3_timeseries.css">	
	</head>

	<body>
		<div class="ui inverted segment">
			<div class="ui container">
				<div class="ui inverted secondary pointing menu">
					<a class="item" href="/"> next-price </a>
					<a class="item" href="/realtime/{{symbol}}"> Realtime </a>
					<a class="active item" href="/historical/{{symbol}}"> Historical </a>
					<a class="item" href="/add"> Add Stock </a>
				</div>
			</div>
		</div>

		<div class="ui main container">

			<h1 class="huge header" align="right" style="font-size:3em;"> {{name}} </h1>

			<div class="ui grid">
				<div class="four wide column">
					<div class="ui mini statistic" id="div_avg_low"> </div>
				</div>

				<div class="twelve wide column">
					<div class="ui grid">
						<div class="three column row" id="div_high_low"> </div>
						<div class="row">
							<b class="ui">Advice from Nexta: &nbsp;&nbsp;&nbsp;</b> 
							<div align="right" id='label'> </div>
						</div>
						<div class="row">
							<div class="chart" id='chart'></div>
						</div>
					</div>
				</div> <!-- twelve column -->
			</div> <!-- grid -->
			<script type="text/javascript">

			// ajax request to stats data
			$.ajax({url: "/data/highlow/{{symbol}}", success: function(result) {
				$("#div_high_low").html(result);
			}});
			
			// draw the graph
			$.ajax({url: "/data/historical_graph/{{symbol}}", success: function(result) {
				var wrapper = JSON.parse(result);

				data = wrapper["cleaned"]
				slope = wrapper["slope"]

				//convert dates fetched from Flask to Javascripts format
				for (var x = 0; x < data.length; x++) 
				{
					data[x].date = new Date(data[x].date);    
				}

				function round(value, decimals) {
					return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
				}

				//print advice to buy, sell or hold stock in question
				//check slope against an epsilon(0.02 here), to give advice
				function printAdvice() 
				{
					// var res;
					// if (data[data.length-1].pred > data[data.length-12].closePrice)
					// {	res = "SELL"; }
					// else if (data[data.length-1].pred < data[data.length-12].closePrice)
					// {	res = "BUY"; }
					// else
					// {	res = "HOLD"; }

					var res;
					if (slope > 0.02)
					{	res = "<b> BUY</b> | the slope of the trend line is : " + round(slope, 2) + " (> 0.02)"; }
					else if (slope < -0.02)
					{	res = "<b >SELL</b> | the slope of the trend line is : " + round(slope, 2) + " (< -0.02)"; }
					else
					{	res = "<b>HOLD</b> | the slope of the trend line is : " + round(slope, 2); }

					return res;
				}

				// var chart = d3.timeseries()
				//          	.addSerie(data,{x:'date', y:'closePrice', diff:'diff'},{interpolate:'monotone',color:"#333"})
				//            	.width(900)
				

				// chart('#chart3')
				document.getElementById("label").innerHTML = printAdvice();

                 //superimpose actual datapoints with predictions for the final ten values
				var chart = d3.timeseries()
							.addSerie(data.slice(0, data.length-12),{x:'date',y:'closePrice'},{interpolate:'linear',color:"#a6cee3",label:"value"})
							.addSerie(data.slice(data.length-21),
							{x:'date',y:'pred',ci_up:'ci_up',ci_down:'ci_down'},
							{interpolate:'monotone',dashed:true,color:"#a6cee3",label:"prediction"})
							.width(900)

				chart('#chart')
			}});

			$.ajax({url: "/data/avglow/{{symbol}}", success: function(result) {
				$("#div_avg_low").html(result);
			}});
		</script>
		</div> <!-- main container -->
	
	</body>
</html>

