<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Semantic UI -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	 crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>

	</head>

	<body>

		<div class="ui main container">

			<h1 align="center" class="ui huge header" style="font-size: 5em;"> 
				<br/>
				next-price
			</h1>

			<br/>

			<div class="ui grid">
				<div class="four wide column"></div>
				<div class="eight wide column">
					{% if stocks %}
					<table class="ui very basic celled table">
						<thead>
							<th>Symbol</th>
							<th class="center aligned">Name</th>
							<th class="right aligned">Price</th>
						</thead>	
						{% for symbol, name in stocks %}
						<tr>
							<td> <a href="/realtime/{{symbol}}"> {{symbol}} </a> </td>
							<td class="center aligned"> {{name}} </td>
							<td class="right aligned" id="{{symbol}}"> -- </td>
						</tr>
						{% endfor %}
					</table>
					{% else %}
					No stocks found!
					{% endif %}
				</div>
				<div class="four wide column"></div>
			</div>

		</div>

		<script type="text/javascript">

		var stocks = {{stocks|tojson|safe}};
		
		var symbols = []
		for (var row of stocks) {
			symbols.push(row[0]);
		}

		function round(value, decimals) {
			return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
		}


		$.ajax({url: "/data/realtime?s=" + symbols.join("+") + "&f=snl1",
			success: function(response) {

				response = JSON.parse(response);
				for (var row in response) {
					var price = parseFloat(response[row][1]);
					$("#"+response[row][0]).html(round(price, 2));
				}
			}
		});

		window.setInterval(function() {

			$.ajax({url: "/data/realtime?s=" + symbols.join("+") + "&f=snl1",
				success: function(response) {

					response = JSON.parse(response);
					for (var row in response) {
						$("#"+response[row][0]).html(response[row][1]);
					}
				}
			});
			
		}, 60000);

		</script>

	</body>
</html>
