<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Semantic UI -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		   	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	 		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>

		<!-- d3 and timeseries -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
		<script src="https://rawgit.com/mcaule/d3-timeseries/master/src/d3_timeseries.js"></script>
		<link rel="stylesheet" type="text/css" href="https://rawgit.com/mcaule/d3-timeseries/master/src/d3_timeseries.css">	
	</head>

	<body>
		<div class="ui inverted segment">
			<div class="ui container">
				<div class="ui inverted secondary pointing menu">
					<a class="item" href="/"> next-price </a>
					<a class="active item" href="/realtime/{{symbol}}"> Realtime </a>
					<a class="item" href="/historical/{{symbol}}"> Historical </a>
				</div>
			</div>
		</div>

		<div class="ui main container">

			<h1 class="huge header" align="right" style="font-size:3em;"> {{name}} </h1>

			<div class="ui grid">
				<div class="four wide column">
					<div class="ui mini statistic" id="div_avg_low"> </div>
				</div>

				<div class="twelve wide column">
					<div class="ui grid">
						<div class="three column row" id="div_high_low"> </div>
						<div class="row">
							<div class="chart" id='chart'></div>
						</div>
					</div>
				</div> <!-- twelve column -->
			</div> <!-- grid -->
		
		</div> <!-- main container -->
		<script type="text/javascript">

			// ajax request to stats data
			$.ajax({url: "/data/highlow/{{symbol}}", success: function(result) {
				$("#div_high_low").html(result);
			}});

			$.ajax({url: "/data/avglow/{{symbol}}", success: function(result) {
				$("#div_avg_low").html(result);
			}});
		</script>

	</body>
</html>

