<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Semantic UI -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
		<script
										 src="https://code.jquery.com/jquery-3.1.1.min.js"
		   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	 crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
	</head>

	<body>

		<div class="ui inverted segment">
			<div class="ui container">
				<div class="ui inverted secondary pointing menu">
					<a class="item" href="/"> next-price </a>
					<a class="active item" href="/realtime/{{symbol}}"> Realtime </a>
					<a class="item" href="/historical/{{symbol}}"> Historical </a>
				</div>
			</div>
		</div>

		<div class="ui main container">

			<h1 class="huge header" align="right" style="font-size:3em;"> {{name}} </h1>

			<div class="ui grid">
				<div class="four wide column">
					<div class="ui mini statistic">
						<div class="label">
							Stocks with lower average price
						</div>
							<br/>
						<div class="value">
							{% if avg_low %}
							<table class="ui very basic celled table">
								<thead>
									<tr>
										<th style="font-size:.7em;"> Symbol </th>
										<th style="font-size:.7em;" class="center aligned"> Name </th>
										<th style="font-size:.7em;" class="right aligned"> Price </th>
									</tr>
								</thead>
								<tbody>
									{% for symbol, name, price in avg_low %}
									<tr>
										<td style="font-size:.7em;"> <a href="/realtime/{{symbol}}">
												{{symbol}}
										</a> </td>

										<td style="font-size:.6em;" class="center aligned"> {{name}} </td>
										<td style="font-size:.7em;" class="right aligned"> {{price}} </td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{% else %}
							No stocks match the criteria
							{% endif %}
						</div>
					</div>
				</div>

				<div class="twelve wide column">
					<div class="ui grid">
						<div class="three column row">
							<div class="column">
								<div class="ui small green horizontal statistic">
									<div class="label"> Highest in 10 days </div>
									<div class="value"> {{high_10[0]}} {{high_10[1]}} </div>
								</div>
							</div>
							<div class="column">
								<div class="ui small yellow horizontal statistic">
									<div class="label"> Average in 1 year </div>
									<div class="value"> {{avg_1_year}} </div>
								</div>
							</div>
							<div class="column">
								<div class="ui small red horizontal statistic">
									<div class="label"> Lowest in 1 year </div>
									<div class="value"> {{low_1_year[0]}} {{low_1_year[1]}} </div>
								</div>
							</div>
						</div>
						<div class="row">
							<h1> Graph goes here </h1>
						</div>
					</div>
				</div> <!-- twelve column -->
			</div> <!-- grid -->

		</div> <!-- main container -->

	</body>
</html>

